body {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:visited {
    color: #6c71c4;
}

header a,
header a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #2aa198;
    text-decoration: underline;
}

header {
    overflow: auto;
}

header h1,
header #logo {
    float: left;
}

header h2,
header h3 {
    float: left;
    clear: both;
}

#logo {
    height: 4.5em;
    margin-top: 0.38em;
    margin-bottom: 0.38em;
    padding-right: 1em;
}
/* Remix ribbon */

#remix-ribbon a {
    background-color: #333;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    #remix-ribbon {
        display: block;
        height: 10em;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 10em;
    }
    #remix-ribbon a {
        box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.8);
        padding: 0.4em 3.6em;
        position: absolute;
        right: -4.3em;
        top: 1.5em;
        transform: rotate(45deg);
        width: 7em;
    }
}

@media screen and (max-width: 599px) {
    #remix-ribbon {
        width: 100%;
        text-align: center;
    }
    #remix-ribbon a {
        display: block;
        padding: 0.2em;
        margin: 0 -1em;
    }
}

footer {
    overflow: auto;
    border-top: 1px solid #ccc;
    padding: 1em 0;
    margin-top: 2em;
}

footer nav ul {
    float: left;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline-block;
    padding: 0 0.75em;
}

@media screen and (max-width: 768px) {
    footer nav ul li {
        display: block;
    }
}

footer #license {
    float: right;
}

footer #license img {
    background-color: #333;
    color: #ccc;
    border-radius: 0.25em;
}

body {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (min-width: 768px) {
    body {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    body {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 1170px;
    }
}

article figure {
    text-align: center;
}

@media screen and (max-width: 767px) {
    article figure {
        margin-left: 0;
        margin-right: 0;
    }
}

article figure img {
    max-width: 100%;
}

article figure figcaption::before {
    content: "Figura: ";
}

article table {
    margin-left: auto;
    margin-right: auto;
}

article .exercises,
pre {
    padding: 1em;
    background-color: #ac7;
}

article .exercises,
table,
pre {
    box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
}

table th,
table td {
    padding: 0.25em;
}

table tr:nth-child(even) {
    background-color: #B2D185;
}

table tr:nth-child(odd) {
    background-color: #C4DBA0;
}

table thead tr th {
    background-color: #ac7;
}
